[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
jinja2 = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
