[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
pytest = "*"
pytest-django = "*"
python-dotenv = "*"
model-bakery = "*"
django-debug-toolbar = "*"
redis = "*"
celery = "*"
djangorestframework-simplejwt = "*"
django-celery-beat = "*"
django-cors-headers = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
